<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/book.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <% if (bks.length > 0) { %>
      <div class="grid">
        <% for (let book of bks) { %>
          <article class="card book-item">
            <header class="card__header">
              <h1 class="book__title"><%= book.title %></h1>
            </header>
            <div class="card__image">
              <img src="<%= book.imageUrl %>" alt="<%= book.title %>">
            </div>
            <div class="card__content">
              <h2 class="book__pages"><%= book.pages %> pages</h2>
              <p class="book__description"><%= book.description %></p>
            </div>
            <div class="card__actions">
              <a href="/books/<%= book._id%>" class="btn">Details</a>
            </div>
            <div class="card__actions">
              <form action="/report" method="POST">
                <%- include('../includes/add-to-report.ejs', {book: book}) %>
              </form>
            </div>
          </article>
        <% } %>
      </div>
    <% } else { %>
      <h1>No Books Found!</h1>
    <% } %>
  </main>
<%- include('../includes/end.ejs') %>