<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/book.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
<main>
  <% if (books.length > 0) { %>
    <ul>
      <% books.forEach(b => { %>
        <li><%= b.bookData.title %> (<%= b.pages %>) </li>
      <% }) %>
    </ul>
  <% } else { %>
    <h1>No Books in the Report</h1>
  <% } %>
</main>

<%- include('../includes/end.ejs') %>