<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Library</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/books' ? 'active' : '' %>" href="/books"
          >Books</a
        >
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/report' ? 'active' : '' %>" href="/report"
          >Report</a
        >
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/admin/add-book' ? 'active' : '' %>"
          href="/admin/add-book"
          >Add Book</a
        >
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/admin/books' ? 'active' : '' %>"
          href="/admin/books"
          >Admin Books</a
        >
      </li>
    </ul>
  </nav>
</header>
